.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-height: 50px;
  padding: 10px 0px;
  background-color: var(--background-modal-color);
  border-top: 1px solid #ccc;
}
