.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.activePage {
  background-color: #035ec0;
  color: #d10f0f;
}
