.table_page {
  font-family: var(--main--font);
  font-size: 20px;
  background-color: var(--background-modal-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 12px 2px #c1c1c191;
}
