.header {
  background-color: var(--background-modal-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 12px 4px #f4f4f491;
  height: 100px;
  max-height: 100px;
  font-family: var(--main--font);
  border-bottom: 1px solid #ccc;
}

.item_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.item_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.item_group li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 80px;
  height: 80px;
}
