.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px;
}

.cars_page {
  font-family: var(--main--font);
  font-size: 20px;
  height: 100vh;
  background-color: var(--background-modal-color);
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 0px 12px 2px #c1c1c191;
}
